{% extends 'base.html' %}
{% load static %}

{% block content %}

    <h1> <img src="/static/images/{{equipo.abrev}}.png" height="100" width="100"></h1>
    <h1>{{ equipo.nombre }}</h1>
    <br>
    <div>
        <table class="table table-striped">
        <thead>
            <th scope="col"> Nombre</th>
            <th scope="col">Apellidos</th>
            <th scope="col">Dorsal</th>
        </thead>
        <tbody>
            {% for jugador in jugadores %}
            <tr>
                <td scope="row">
                    <a href="/Basket/jugador?nombre={{jugador.nombre}}&equipo={{equipo.id}}&apellido={{jugador.apellido1}}">{{ jugador.nombre}}</a>
                </td>
                <td>{{ jugador.apellido1 }}</td>
                <td>{{ jugador.dorsal }}</td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
    </div>
    <hr>
    <h3>Partidos</h3>
    <div>
        <table class="table table-stripped">
            <thead>
                <th scope="col">Fase</th>
                <th scope="col">Fecha</th>
                <th scope="col">Localización</th>
                <th scope="col">Local</th>
                <th scope="col">Visitante</th>
                <th scope="col">Resultado</th>
            </thead>
            <tbody>
                {% for partido in partidos %}
                <tr>
                    <td scope="row">
                        <a href="/Basket/partido?id3={{partido.id}}">{{partido.fase}}</a>
                    </td>
                    <td>{{partido.fecha}}</td>
                    <td>{{partido.localizacion}}</td>
                    <td>{{partido.equipo1.nombre}}</td>
                    <td>{{partido.equipo2.nombre}}</td>
                    <td>{{partido.tanteo_final}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <hr>
    <h3>Estadísticas</h3>
    <div>
        <table class="table table-stripped">
            <thead>
                <th scope="col"><abbr title="Porcentaje Tiros Campo">TC%</abbr></th>
                <th scope="col"><abbr title="Tiros de 2">TC2</abbr></th>
                <th scope="col"><abbr title="Porcentaje Tiros de 2">%TC2</abbr></th>
                <th scope="col"><abbr title="Tiros de 3">TC3</abbr></th>
                <th scope="col"><abbr title="Porcentaje Tiros de 3">%TC3</abbr></th>
                <th scope="col"><abbr title="Tiros libres">TL</abbr></th>
                <th scope="col"><abbr title="Porcentaje tiros libres">%TL</abbr></th>
            </thead>
            <tbody>
                <tr>
                    <td scope="row">{{ equipo.TC_P }}</td>
                    <td>{{ equipo.TC2 }}/{{ equipo.I_TC2 }}</td>
                    <td>{{ equipo.TC2_P }}</td>
                    <td>{{ equipo.TC3 }}/{{ equipo.I_TC3 }}</td>
                    <td>{{ equipo.TC3_P }}</td>
                    <td>{{ equipo.TL }}/{{ equipo.I_TL }}</td>
                    <td>{{ equipo.TL_P }}</td>
                </tr>
            </tbody>
        </table>
        <table class="table table-stripped">
            <thead>
                <th scope="col">AS</th>
                <th scope="col">TAP</th>
                <th scope="col">REBO</th>
                <th scope="col">REBD</th>
                <th scope="col">REBT</th>
                <th scope="col">REC</th>
                <th scope="col">DES</th>
                <th scope="col">F</th>
                <th scope="col">PER</th>
                <th scope="col">F+</th>
            </thead>
            <tbody>
                    <td scope="row">{{ equipo.AS }}</td>
                    <td>{{ equipo.TAP }}</td>
                    <td>{{ equipo.REBO }}</td>
                    <td>{{ equipo.REBD }}</td>
                    <td>{{ equipo.REBT }}</td>
                    <td>{{ equipo.REC }}</td>
                    <td>{{ equipo.DES }}</td>
                    <td>{{ equipo.F }}</td>
                    <td>{{ equipo.PER }}</td>
                    <td>{{ equipo.FTO }}</td>
            </tbody>
        </table>
    </div>
<div id="container"></div>
  <script src="https://code.highcharts.com/highcharts.src.js"></script>
  <script>
    Highcharts.setOptions({
     colors: ['#6fa3f7', '#edbb57','#ef7083']
    });

    Highcharts.chart('container', {
    chart: {
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false,
        type: 'pie'
    },
    title: {
        text: 'Porcentaje de tiros'
    },
    tooltip: {
        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
    },
    plotOptions: {
        pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
                enabled: false
            },
            showInLegend: true
        }
    },
    series: [{
        name: 'Tiros',
        data: [{
            name: 'Tiros de 2',
            y: {{ equipo.TC2 }},
            sliced: true,
            selected: true
        }, {
            name: 'Tiros de 3',
            y: {{ equipo.TC3 }}
        },
        {
            name: 'Tiros Libres',
            y: {{ equipo.TL }}
        }]
    }]
});
  </script>
{% endblock %}
