{% extends 'base.html' %}
{% load static %}

{% block content %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Sede</th>
        </thead>
     <tbody>
        {% for equipo in equipos %}
        <tr>
            <td scope="row">
                <a href="/Basket/equipo?nombre={{equipo.nombre}}">{{ equipo.nombre}}</a>
            </td>
          <td >{{ equipo.sede}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
