{% extends 'base.html' %}
{% load static %}

{% block content %}
    <h1>{{partido.equipo1.nombre}} - {{partido.equipo2.nombre}}</h1>
    <h2> {{partido.fase}} {{partido.fecha}} {{partido.localizacion}}</h2>

    <hr>
    <h3>Resultados</h3>
            <table class="table table-stripped">
            <thead>
                <th scope="col">1º Cuarto</th>
                <th scope="col">2º Cuarto</th>
                <th scope="col">3º Cuarto</th>
                <th scope="col">4º Cuarto</th>
                <th scope="col">T.Extra</th>
                <th scope="col">Final</th>
            </thead>
            <tbody>
                <tr>
                    <td scope="row">{{ partido.cuarto1 }}</td>
                    <td>{{ partido.cuarto2 }}</td>
                    <td>{{ partido.cuarto3 }}</td>
                    <td>{{ partido.cuarto4 }}</td>
                    <td>{{ partido.tiempos_extra }}</td>
                    <td>{{ partido.tanteo_final }}</td>
                </tr>
            </tbody>
        </table>
        <hr>
        <h3>Estadísticas Equipo</h3>
        {{partido.equipo1.nombre}}
        <table class="table table-stripped">
            <thead >
                <th scope="col"><abbr title="Puntos">pts</abbr></th>
                <th scope="col"><abbr title="Tiros 2">TC2</abbr></th>
                <th scope="col"><abbr title="Tiros 3">TC3</abbr></th>
                <th scope="col"><abbr title="Tiros Libres">TL</abbr></th>
                <th scope="col"><abbr title="Asistencias">AS</abbr></th>
                <th scope="col"><abbr title="Tapones">TAP</abbr></th>
                <th scope="col"><abbr title="Rebotes ofensivos">REBO</abbr></th>
                <th scope="col"><abbr title="Rebotes defensivos">REBD</abbr></th>
                <th scope="col"><abbr title="Rebotes totales">REBT</abbr></th>
                <th scope="col"><abbr title="Recuperaciones">REC</abbr></th>
                <th scope="col"><abbr title="Desvios">DES</abbr></th>
                <th scope="col"><abbr title="Faltas">F</abbr></th>
                <th scope="col"><abbr title="Perdidas">PER</abbr></th>
                <th scope="col"><abbr title="Faltas recibidas">FTO</abbr></th>
                <th scope="col"><abbr title="Eficiencia">EFI</abbr></th>
            </thead>
            <tbody>
                <tr style="text-align:center">
                    <td scope="row">{{ statsEquipo_local.pts }}</td>
                    <td>{{ statsEquipo_local.TC2 }}/{{statsEquipo_local.I_TC2}}</td>
                    <td>{{ statsEquipo_local.TC3 }}/{{statsEquipo_local.I_TC3}}</td>
                    <td>{{ statsEquipo_local.TL }}/{{statsEquipo_local.I_TL}}</td>
                    <td>{{ statsEquipo_local.AS }}</td>
                    <td>{{ statsEquipo_local.TAP }}</td>
                    <td>{{ statsEquipo_local.REBO }}</td>
                    <td>{{ statsEquipo_local.REBD }}</td>
                    <td>{{ statsEquipo_local.REBT }}</td>
                    <td>{{ statsEquipo_local.REC }}</td>
                    <td>{{ statsEquipo_local.DES }}</td>
                    <td>{{ statsEquipo_local.F }}</td>
                    <td>{{ statsEquipo_local.PER }}</td>
                    <td>{{ statsEquipo_local.FTO }}</td>
                    <td>{{ statsEquipo_local.EFI }}</td>
                </tr>
            </tbody>
        </table>
        <table class="table table-stripped">
            <thead >
                <th scope="col"><abbr title="Posesiones">POS</abbr></th>
                <th scope="col"><abbr title="Puntos por posesión">P/POS</abbr></th>
                <th scope="col"><abbr title="Puntos en la zona">ZONA</abbr></th>
                <th scope="col"><abbr title="Máxima ventaja">VENT</abbr></th>
            </thead>
            <tbody>
                <tr>
                    <td scope="row">{{ statsEquipo_local.POS }}</td>
                    <td>{{ statsEquipo_local.P_POS }}</td>
                    <td>{{ statsEquipo_local.ZONA }}/{{statsEquipo_local.I_ZONA}}</td>
                    <td>{{ statsEquipo_local.VENT }}</td>
                </tr>
            </tbody>
        </table>
        {{ partido.equipo2.nombre }}
        <table class="table table-stripped">
            <thead >
                <th scope="col"><abbr title="Puntos">pts</abbr></th>
                <th scope="col"><abbr title="Tiros 2">TC2</abbr></th>
                <th scope="col"><abbr title="Tiros 3">TC3</abbr></th>
                <th scope="col"><abbr title="Tiros Libres">TL</abbr></th>
                <th scope="col"><abbr title="Asistencias">AS</abbr></th>
                <th scope="col"><abbr title="Tapones">TAP</abbr></th>
                <th scope="col"><abbr title="Rebotes ofensivos">REBO</abbr></th>
                <th scope="col"><abbr title="Rebotes defensivos">REBD</abbr></th>
                <th scope="col"><abbr title="Rebotes totales">REBT</abbr></th>
                <th scope="col"><abbr title="Recuperaciones">REC</abbr></th>
                <th scope="col"><abbr title="Desvios">DES</abbr></th>
                <th scope="col"><abbr title="Faltas">F</abbr></th>
                <th scope="col"><abbr title="Perdidas">PER</abbr></th>
                <th scope="col"><abbr title="Faltas recibidas">FTO</abbr></th>
                <th scope="col"><abbr title="Eficiencia">EFI</abbr></th>
            </thead>
            <tbody>
                <tr style="text-align:center">
                    <td scope="row">{{ statsEquipo_visitante.pts }}</td>
                    <td>{{ statsEquipo_visitante.TC2 }}/{{statsEquipo_visitante.I_TC2}}</td>
                    <td>{{ statsEquipo_visitante.TC3 }}/{{statsEquipo_visitante.I_TC3}}</td>
                    <td>{{ statsEquipo_visitante.TL }}/{{statsEquipo_visitante.I_TL}}</td>
                    <td>{{ statsEquipo_visitante.AS }}</td>
                    <td>{{ statsEquipo_visitante.TAP }}</td>
                    <td>{{ statsEquipo_visitante.REBO }}</td>
                    <td>{{ statsEquipo_visitante.REBD }}</td>
                    <td>{{ statsEquipo_visitante.REBT }}</td>
                    <td>{{ statsEquipo_visitante.REC }}</td>
                    <td>{{ statsEquipo_visitante.DES }}</td>
                    <td>{{ statsEquipo_visitante.F }}</td>
                    <td>{{ statsEquipo_visitante.PER }}</td>
                    <td>{{ statsEquipo_visitante.FTO }}</td>
                    <td>{{ statsEquipo_visitante.EFI }}</td>
                </tr>
            </tbody>
        </table>
        <table class="table table-stripped">
            <thead >
                <th scope="col"><abbr title="Posesiones">POS</abbr></th>
                <th scope="col"><abbr title="Puntos por posesión">P/POS</abbr></th>
                <th scope="col"><abbr title="Puntos en la zona">ZONA</abbr></th>
                <th scope="col"><abbr title="Máxima ventaja">VENT</abbr></th>
            </thead>
            <tbody>
                <tr>
                    <td scope="row">{{ statsEquipo_visitante.POS }}</td>
                    <td>{{ statsEquipo_visitante.P_POS }}</td>
                    <td>{{ statsEquipo_visitante.ZONA }}/{{statsEquipo_visitante.I_ZONA}}</td>
                    <td>{{ statsEquipo_visitante.VENT }}</td>
                </tr>
            </tbody>
        </table>
        <hr>
        <h2>Jugadores</h2>
        <table class="table table-stripped">
            <thead>
                <th scope="col">Equipo</th>
                <th>Nombre</abbr></th>
                <th>Dorsal</abbr></th>
            </thead>
            <tbody>
                {% for entrada in statsJugador %}
                <tr>
                    <td scope="row">{{ entrada.id_jugador.equipo.nombre }}</td>
                    <td>
                        <a href="/Basket/jugador?nombre={{entrada.id_jugador.nombre}}&equipo={{entrada.id_jugador.equipo.id}}">{{ entrada.id_jugador.nombre }}</a>
                    </td>
                    <td>{{ entrada.id_jugador.dorsal }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

{% endblock %}